<h2>清單</h2>
<div class="clearfix">
<span class="pull-right">
<%= link_to("新增事項", new_work_path, class: "btn btn-info", id: "new_button", remote: true) %>
</span>
</div>
<h3>未完成</h3>
<div class="panel-group">
<% @incomplete_works.each do |work| %>
<div class="panel panel-info">
<div class="panel-heading clearfix"><span class="pull-left">
<%= link_to(to_completed_work_path(work), method: :post) do %>
<i class="fa fa-check"></i><% end %></span>
<%= work.deadline %><span class="pull-right"><%= link_to(edit_work_path(work)) do %>
<i class="fa fa-edit"></i>
<% end %>
<%= link_to(work_path(work), method: :delete) do%>
<i class="fa fa-trash"></i>
<% end %></span></div>
<div class="panel-body clearfix"><%= link_to(work.title, work_path(work))%><span class="pull-right"><%= work.created_at.to_s(:short) %></span></div>
</div>
<% end %>
<!-- <h3>已完成</h3>
<table class="table">
<thead>
<tr>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @completed_works.each do |work| %>
<tr class="todowork">
<td class="check"><%= link_to(to_incomplete_work_path(work), method: :post) do%>
<i class="fa fa-arrow-up"></i>
<% end %></td>
<td class="work finish"><%= work.title%></td>
<td class="operate">
<%= link_to(work_path(work), method: :delete) do %>
<i class="fa fa-trash"></i>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>



 -->
<h3>已完成</h3>
<div class="panel-group">
<% @completed_works.each do |work| %>
<div class="panel panel-info">
<div class="panel-heading clearfix"><span class="pull-left">
<%= link_to(to_incomplete_work_path(work), method: :post) do%>
<i class="fa fa-arrow-up"></i><% end %>
</span>
<%= work.deadline %><span class="pull-right"><%= link_to(edit_work_path(work)) do %>
<i class="fa fa-edit"></i>
<% end %>
<%= link_to(work_path(work), method: :delete) do%>
<i class="fa fa-trash"></i>
<% end %></span></div>
<div class="panel-body clearfix finish"><%= link_to(work.title, work_path(work))%><span class="pull-right"><%= work.created_at.to_s(:short) %></span></div>
</div>
<% end %>
